{% extends './index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{Judul}}</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{Judul}}</h6>
        </div>
        <div class="card-body">
            <div class = "card-body">

                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form | crispy}}
                    <br> 
                    <button class="btn btn-primary" type="submit" value="submit" name="submit"><i class="fas fa-save"></i> Simpan</button>
                    <br>
                    {% if messages %}
                    {% for message in messages %}
                    
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            <h5>{{ message }}</h5>
                        </div>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    

</div>
<!-- /.container-fluid -->

</div>

{% endblock content %}