{% extends './index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Hasil Analisa</h1>
    

    <!-- DataTales Example -->
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if info == 0 %}
            <div class="row">
                <h6 class="m-0 font-weight-bold text-primary">Hasil Analisa</h6>
                
                <div class="ml-auto">
                    
                    <form action="" method="POST">
                        {% csrf_token %}
                        
                        <button class="btn btn-info mr-3" type="submit" value="submit" name="submit"><i class="fas fa-info-circle">  Lihat Proses</i></button>

                    </form>
                    
                </div>

            </div>
            {% else %}
            <div class="row">
                <h6 class="m-0 font-weight-bold text-primary">Hasil Analisa</h6>
                <div class="ml-auto">
                    <a class="btn btn-warning mr-3" href="{% url 'Hasilanalisa' %}" role="button">Tutup</a>
                </div>
            </div>
                    
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>NISN</th>
                            <th>Jenis Kelamin</th>
                            <th>Rangking</th>
                            <th>Poin</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nama</th>
                            <th>NISN</th>
                            <th>Jenis Kelamin</th>
                            <th>Rangking</th>
                            <th>Poin</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for data in tabel %}
                        <tr>
                            <td>{{data.Nama}}</td>
                            <td>{{data.NISN}}</td>
                            <td>{{data.JenisKelamin}}</td>
                            <td>{{data.Rangking}}</td>
                            <td>{{data.Poin}}</td>
                         
                            
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>

            </div>
            {% if info == 1 %}
            <h1 class="h3 mb-2 text-gray-800">Proses</h1>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Alternatif Kriteria</h6>
                </div>
                <div class="card-body">
                    {{alternatifkriteria}}
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pembagi</h6>
                </div>
                <div class="card-body">
                    {{pembagi}}
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Normalisasi</h6>
                </div>
                <div class="card-body">
                    {{normalisasi}}
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Hasil</h6>
                </div>
                <div class="card-body">
                    {{hasil}}
                </div>
            </div>
            {% endif %}
        </div>
        
    </div>

</div>
<!-- /.container-fluid -->

</div>

{% endblock content %}
